<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!--Documentation of Author, Date, Course module and assignment-->
  <meta name="author" content="Titilope Raheem">
  <meta name="date" content="26th July 2020">
  <meta name="course module" content="CPRG-210-XM1 - Wed Application Development">
  <meta name="assignment" content="Assignment 3 - Node Final">
  
  <title>Travel Experts Agency - Login Page</title>
  <%- include('./partials/css-global'); %>
  <link rel="stylesheet" href="css/login.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>

  <!--This section contains the navigation bar which will be at the top of the page-->
  <%- include('./partials/header-nav'); %>

  <main>
    <!--This section contains a login form for log in-->
    <div class="form">
      <div id="login">
        
        <!--Registration form using fieldset, legend, label and input type-->
        <form action="https://formspree.io/xgennzer" method="POST">
          <fieldset>
            <legend></legend>
            <label class="required" >
              <span>Email </span>
              <input placeholder="Enter Email Address" type="email" required>
            </label>
            <label class="required" >
              <span>Password </span>
              <input placeholder="Enter Password" type="password" minlength="8" required>
            </label>
          </fieldset>
          
          <!--login button-->
          <button>Login</button>
        </form>
      </div>
    </div>
  </main>

  <!--Footer will be below the page-->
  <%- include('./partials/foot'); %>

  
  <!--This contains the javascript for hamburger menu-->
  <%- include('./partials/gallery-js'); %>
</body>
</html>