/* Author: Titilope Raheem
   Date: 26th July 2020
   Course module: CPRG-210-XM1 - Wed Application Development
   Assignment 3 - Node Final*/

/* Navigation styling and setup*/
.navbar {
  justify-content: end;
}
 
/* make the unordered list a flexbox */
.navbar ul {
  align-items: center;
}
 
/* Media Query for portrait menu view*/
@media only screen and (max-width: 720px) {   

  .nav{
    display: flex;
    flex-direction: column;
  }
  .navbar ul {
    transition: all 200ms ease-in-out;
    z-index: 2;
  }
    
  #contact {
    flex-direction: column;
  } 
   
}

/* The hero image */
.hero-section {
  background-image: url("https://picsum.photos/id/1051/200/300");

  /* Set a specific height */
  height: 100vh;

  /* Position and center the image on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Style hero section text*/
.hero-text {
  text-align: center;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(53, 46, 46);
}

h1{
  font-size: 3em;
  font-weight: bolder;
  margin-bottom: 20px;
}

p{
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 25px;
}

/* stlye companylogo layout*/
.companylogo{
  width: 150px;
  height: 110px;
  cursor: pointer;
  margin: 0;
  padding: 5px;
}

/* add a color to a word on the h1 text*/
span{
  color: rgb(105, 69, 48);
}

/* Style website goal - sign up here*/
.web-goal{
  width:150px;
  font-weight:bold;
  padding: 10px;
  color: rgb(212, 35, 35);
  border: 2px solid black;
  text-decoration: none;
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
  background-color: rgb(58, 82, 148);
}

/* declare a hover and active state for the button*/
.web-goal:hover, .web-goal:active{
  background-image: linear-gradient(white, black);
  color: #000;
  transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

/* destination header styling and background color*/
#Destinations h2{
  text-align: center;
  margin-top: 30px;
  font-family: "source sans pro", sans-serif;
  background-color: rgb(112, 112, 202);
  padding: 15px;
  font-weight: bolder;
}

/* make gallery a flexbox*/
.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* gallery image styling*/
.gallery img{
  transition: 1s;
  padding: 15px;
}

/* declare hover state*/
.gallery img:hover{
  filter: grayscale(100%);
}

/* make the container for contact a flexbox */
#contact{
  display: flex;
  justify-content: space-around;
  height: auto;

}

/* style contact us form */
#information {
  background-color: rgb(144, 149, 179);
  margin: 10px;
  padding: 35px;
  font-family: "source sans pro", sans-serif;
}

#contact h2{
  text-align: start;
  font-size: 1.7em;
  margin: 20px 0;
  padding-left: 0;
  color: #84468a;
}

#contact h4{
  font-size: 1em;
  color: #7a4e7e;
}

/* let users know the field is required*/
label.required ::after{
  content: '*';
  color: red;
}

/* style input fields on the contact form*/

#information input[type="text"],
#information input[type="email"],
#information input[type="tel"],
#information select,
#information textarea {
  width: 95%;
  border: 1px solid lightblue;
  border-radius: 5px;
  background: rgb(248, 246, 246);
  margin-bottom: 16px;
  padding: 20px;
}

/* style submit button*/
#information button[type="submit"] {
  cursor: pointer;
  width: 30%;
  background: #84468a;
  color: white;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
}

p{
  font-weight: bold;
}

.address{
  display: block;
  margin: 10px;
  padding: 20px 20px;
  border: 1px solid grey;
}

