/* Author: Titilope Raheem
   Date: 26th July 2020
   Course module: CPRG-210-XM1 - Wed Application Development
   Assignment 3 - Node Final*/

/* Define font style*/
body{
  height: 100vh;
}

/* Navigation styling and setup*/
.head-wrap {
  width: 100%;
}
  
.nav-wrap {
  position: sticky;
}
 
.navbar {
  justify-content: space-between;
  align-items: center;
}

/* Company Title styling*/
h3{
  cursor: pointer;
  margin-right: auto;
}

/* Company logo on navbar styling */
.navbar img {
  height: 50px;
  width: 100px;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
}
 
/* make the unordered list a flexbox */
.navbar ul {
  list-style: none;
  display: flex;
}

/* declare current page state for nav links*/
.current {
  background-image: linear-gradient(rgb(64, 64, 190), purple);
}

/* style background for the main section*/
main{
    background-image: url(https://picsum.photos/id/279/200/300);
    background-size: cover;
    background-position: center;
}

/* move all span items to the left*/
span{
    float: left;
}

/* style register form and placeholder*/
#register{
    background: #b895b9;
    max-width: 500px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

#register input{
    font-family: sans-serif;
    background: #f2f2f2;
    width: 100%;
    border: 10px;
    margin: 0 0 13px;
    padding: 13.5px;
    box-sizing: border-box;
    font-size: 14px;
}

/* red outline when invalid*/
input:invalid{
    border: solid red;
}

/* add a red asterisk to show user it is required*/
label.required ::after{
    content: '*';
    color: red;
}

/* add text beside password placeholder */
.passwordlength{
    float: left;
    text-align: start;
    padding-bottom: 15px;
}

/* style signup button */
#register button{
    font-family: sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #d1b2b2;
    width: 100%;
    border: 0;
    padding: 8px;
    color: #9c5a5a;
    font-size: 14px;
}

/* declare hover state for login button */
#register button:hover{
    background-image: linear-gradient(white, black);
}

.footer{
  position: sticky;
}