body{
  height: 100%;
}

/* Navigation container styling and setup*/
.head-wrap {
  width: 100%;
}
  
.nav-wrap {
  position: sticky;
}

.navbar {
  justify-content: space-between;
  align-items: center;
}

/* Company Title styling*/
h3{
  cursor: pointer;
  margin-right: auto;
}

/* Company logo on navbar styling*/
.navbar img {
  height: 50px;
  width: 100px;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
}

/* declare current page state for nav links*/
.current {
  background-image: linear-gradient(rgb(64, 64, 190), purple);
}  

.large-images {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

h5{
  border: 1px solid black;
  border-radius: 10px;
  border-style: dotted;
  text-align: center;
  width: 200px;
  margin: 20px;
  font-size: 1rem;
  
  
}
.footer{
  position: sticky;
}